{% extends 'auth/base.html'%} {% load static %} {% block forgotPassword %}
<section>
  <div class="form-box">
    <div class="form-value">
      <form action={% url "forgot_password"%} method="post">
        {% csrf_token %}
        <h2>Forgot Password</h2>
        {%if messages%} {%for message in messages%}
        <div class="alert alert-{{message.tags}}">
          <strong>{{message}}</strong>
        </div>
        {%endfor%} {%endif%}
        <div class="inputbox">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" name="email" required />
          <label>Email</label>
        </div>
        <button type="submit">Submit</button>
        <a class="btn d-block text-white text-center" href="/login">Cancel</a>
      </form>
    </div>
  </div>
</section>
<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
{% endblock forgotPassword %}
