{%extends 'app/base.html'%} {%load static custom_filters%} {%block state_order%}
    <!-- Single Page Header start -->
<div style=" position: relative;
background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url({% static "app/images/cart-page-header-img.jpg" %});
background-position: center center;
background-repeat: no-repeat;
background-size: cover;" class="container-fluid page-header py-5">
<h1 class="text-center text-white display-6">Trạng thái đặt hàng</h1>
<ol class="breadcrumb justify-content-center mb-0">
  <li class="breadcrumb-item"><a href={%url 'home'%}>Home</a></li>
  <li class="breadcrumb-item"><a href="/cart">Pages</a></li>
  <li class="breadcrumb-item active text-white"><a href={%url 'cart'%}>Cart</a></li>
</ol>
</div>
    <div class="container mt-3">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Địa chỉ nhận hàng</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái đơn hàng</th>
                    <th>Đã nhận được hàng</th>
                </tr>
            </thead>
            <tbody>
                {% if list_order %}
                    {% for order in list_order %}
                        <tr class="text-center">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order.ten_san_pham }}</td>
                            <td>{{ order.gia_san_pham }}</td>
                            <td>{{ order.so_luong }}</td>
                            <td>{{ order.thanh_tien }}</td>
                            <td>{{ order.dia_chi }}</td>
                            <td>{{ order.sdt }}</td>
                            <td>{{ order.trang_thai_dat_hang }}</td>
                            <td> 
                                <div class="d-flex justify-content-center">
                                    <a onclick="handleSubmid(event)" href="{% url 'da_nhan_hang' order_id=order.id %}" class="btn btn-primary text-white">Xác nhận</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9" class="text-center">Không có dữ liệu</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        </table>
       
    </div>
<script>
    function handleSubmid(event) {
          


    }
</script>

{%endblock state_order%}
